.cover{
    background-color: #f2f2f1;
    width: 170px;
    height:780px;
}

#line {
    background-color: #b3b3b3;
}
.ina{
    display: flex;
}

li{
list-style: none;
}
ul li{
    margin-bottom :25px;
    font-weight:200
}

