.cover{
    background-color: #f2f2f1;
    width: 160px;
    height:780px;
}

#line {
    background-color: #b3b3b3;
}
.ina{
    display: flex;
}

li{
list-style: none;
}
ul li{
    margin-bottom :25px;
}
.innerLinks{
    color:black;
}
/*.nav-link:hover{*/
/*    background: darkblue;*/
/*    color:white;*/
/*}*/
#pages{
    margin-left: 10px;
    margin-top:15px;
}

